YUKIHUB_BANGUMI_CLIENT_ID=plz-change-this
YUKIHUB_BANGUMI_CLIENT_SECRET=plz-change-this
YUKIHUB_TOUCHGAL_TOKEN=plz-change-this
YUKIHUB_UMBRA_CLIENT_ID=plz-change-this
YUKIHUB_UMBRA_REGISTRATION_TOKEN=plz-change-this
YUKIHUB_HIKARINAGI_CLIENT_ID=plz-change-this
